body {
  padding: 0;
  margin: 0;
}

div.container {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

div.container > div {
  width: 10%;
}

div.container > div > img {
  display: block;
  width: 100%;
}